<footer class="box"><div id="footer-content">
	<div id ="about" class="col3">
		<h4>Om</h4>
		I 2023 feirer Nabla 80-årsjubileet, og feirer i den anledning med en ukes begivenheter du ikke har lyst til å gå glipp av!
	</div>
	<div id="feedback" class="col4">
		<h4>Kontakt</h4>
		Har du spørsmål, send inn til
    <ul style="list-style: none; ">
    <li> <a href = "mailto: jubileum@nabla.ntnu.no">jubileum@nabla.ntnu.no</a></li>
    <li> <a href = "mailto: jubileumssjef@nabla.ntnu.no">jubileumssjef@nabla.ntnu.no</a></li>
    <li> <a href = "mailto: webkom@nabla.ntnu.no">webkom@nabla.ntnu.no</a></li>
    </ul>
	</div>
	<div id="socmed-links" class="col5">
      <h4><a href="https://www.instagram.com/nablajubkom/" class="col5">Instagram</a></h4> <p>Følg oss for å få med deg nyheter fortløpende!</p>
	</div>
</div></footer>
