<footer class="footer footer-default">
    <div class="container footer-default">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                <span class="text-muted">Kontakt oss</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                <span class="text-muted">Nabla linjeforening></span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                <span class="text-muted">Tilbakemeldinger</span>
            </div>
        </div>
    </div>
</footer>