@font-face {
    font-family: LemonMilk;
    src: url('fonts/LEMONMILK-Bold.otf');
}

@font-face {
    font-family: RobotoBold;
    src: url('fonts/Roboto-Bold.ttf');
}

/*----------------------------------------------------------------------------*\
	Events
\*----------------------------------------------------------------------------*/

.event-header {
    background-color: #000000;
    position: relative;
    width: 800px;
    height: 300px;
}

main, .event-header { padding-top: 0; }
nav > div, .event-header { border-bottom: 0; }

.event-header img {
    height: 100%;
}

.event-header h1 {
    font-family: LemonMilk;
    position: absolute;
    font-size: 3em;
    bottom: 8px;
    left: 16px;
}

.event-info {
    background-color: #7E304E;
    padding: 16px;
    float: left;
}

.event-info h2 {
    text-align: left;
    width: 100%;
    font-family: LemonMilk;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 20px;
}

.event-info .event-paragraph {
    font-family: RobotoBold;
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: left;
    float: left;
    width: 45%;
}

.event-info .event-data {
    text-align: left;
    background-color: #0C273B;
    float: right;
    width: 50%;
    padding: 10px;
}

.btn { border-radius: 0!important; border: 0; }


.attending {
    font-family: RobotoBold;
    font-size: 1.5em;
    text-align: center;
    padding: 4px;
}

.progress {
    height: 20px;
    border-radius: 0;
}

.progress-bar {
    background-color: #EAA960;
}

@media (max-width: 800px) {
    .event-header { width: 100%; height: auto; }
    .event-header h1 { font-size: 2em; }
    .event-header img { width: 100%; }
}

@media (max-width: 502px) {
    .event-header h1 { font-size: 1.2em; }
    .event-info { font-size: .8em; }
}

